@import "_vars.scss";
@import "_mixins.scss";

.main {
  padding: 0 22px 0 60px;
  font-size: 14px;
  color: $text-color;
  @media (max-width: 768px) {
    padding: 0 20px;
  }
  &__create {
    margin-bottom: 37px;
    &::before {
      width: 4px;
      height: 12px;
      top: calc(50% - 6px);
      left: 22px;
    }
    &::after {
      width: 12px;
      height: 4px;
      left: 18px;
      top: calc(50% - 2px);
    }
  }
  &__title {
    font-size: 20px;
    margin-bottom: 32px;
    color: $dark;
  }
  &__table {
    background-color: $bg-main;
    padding: 30px;
  }
  &__heading {
    color: $dark;
    @media (max-width: 768px) {
      display: none;
    }
  }
  &__column {
    @media (max-width: 768px) {
      margin-bottom: 8px;
    }
  }
  &__market {
    display: flex;
    align-items: center;
    padding:  20px 0;
    &:not(:last-child) {
      border-bottom: 1px solid $border;
    }
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__actions {
    @media (max-width: 956px) {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__change {
    background-image: url("../img/pencil.svg");
    background-position: 15px center;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    @media (max-width: 768px) {
      margin-bottom: 8px;
    }
  }
  &__delete {
    @media (max-width: 956px) {
      margin-bottom: 8px;
    }
    &::before {
      width: 3px;
      height: 15px;
      top: calc(50% - 7.5px);
      left: 22px;
      transform: rotate(45deg);
    }
    &::after {
      width: 15px;
      height: 3px;
      left: 16px;
      top: calc(50% - 1.5px);
      transform: rotate(45deg);
    }
  }
}