.nav__item {
  padding: 15px 0 15px 25px;
}
.nav__link {
  position: relative;
  display: flex;
  font-size: 14px;
  background-size: 22px 17px;
  background-repeat: no-repeat;
  background-position: left center;
  color: #858585;
}
.nav__link:hover svg path {
  fill: #0a58ca;
}
.nav__link--active {
  color: #0a58ca;
}
.nav__link--active::before {
  content: "";
  position: absolute;
  width: 4px;
  left: -25px;
  top: -15px;
  bottom: -15px;
  background-color: #0a58ca;
}
.nav__link--active svg path {
  fill: #0a58ca;
}
.nav__icon {
  width: 22px;
  height: 17px;
  margin-right: 15px;
}
.nav__icon path {
  fill: #858585;
}